fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pymysql
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0
python-multipart
python-dotenv
cryptography
apscheduler
slowapi
sqlparse
groq
ollama
streamlit
plotly
pandas
requests
mysql-connector-python
snowflake-connector-python
